/*---------------------- Font generation-----------------------------*/

@font-face {
    font-family: 'museo_sans500';
    src: url('fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('fonts/MuseoSans_500-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300-Regular';
    src: url('fonts/Museo300-Regular-webfont.woff2') format('woff2'),
         url('fonts/Museo300-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------------------------------------------------------------------- */

body {
  font-size: 80%;
  font-family: museo_sans500, Arial, sans-serif;
  margin: 0 auto;
  width: 90%;
  max-width: 750px;
}

#logo {
  width: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
}

#logo-pic {
  max-width: 100px;
  padding-left: 5px;
  float: left;
}

#orange {
  height: 65px;
  width: 100%;
  background-color: #E75921;
  margin-left: 15px;
}

#nav {
  width: 100%;
  margin-bottom: 1em;
}

ul {
  padding: 0px;
  display: flex;
  width: 100%;
  height: 65px;
  margin: 0;

}

li {
  float: left;
  /*width: 30%;*/
  margin-left: 25px;
  list-style-type: none;
  line-height: 65px;
  vertical-align: middle;
}

.menu {
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 100;

}

a {
  text-decoration: none;
  color: black;
}

#content {
  /*overflow: auto;*/
}

.feature {
  width: 100%;
  margin-bottom: 10px;
}

.feature1 {
  width: 60%;
  margin-bottom: 0px;
}

#feature23 {
  float: right;
  width: 38%;
}

.feature2 {
  width: 100%;
  margin-bottom: 11px;
}

.feature3 {
  width: 100%;
  margin-bottom: 10px;
}

.tagline {
  width: 60%;
  font-size: 58px;
}

.feature4 {
  width: 100%;
  margin-bottom: 10px;
}

.row {
  text-align: center;
}

.application {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.application-text {
  font-size: 20px;
  margin-top: 20px;
}

.application-link {
  color: #E75921;
}

.instagram-row {
  text-align: center;
  height: 250px;
  margin-bottom: 20px;
}

.instagram {
  width: 200px;
  height: 250px;
  display: inline-block;
  margin: 0px 50px;
  float: center;
}

.instagram-header {
  font-size: 15px;
  float: center;
  margin-bottom: 10px;
}

.instagram-logo {
  vertical-align: middle;
  width: 15px;
}

.people {
  display: inline-block;
  width: 175px;
  padding: 5px;
  vertical-align: middle;
}

.img {
  width: 150px;
}

.snapwidget-widget-1 {
  width: 350px;
  height: 350px;
  margin-right: 5px;
}

.snapwidget-widget-2 {
  width: 350px;
  height: 350px;
  margin-left: 5px;
}

.caldera {
  width: 75px;
}

.badger, .bighole{
  width: 115px;
}

.notes {
  text-align: left;
  text-transform: none;
}

.row-1 {
}

.row-2 {
  /*margin-bottom: 20px;*/
}

#footer {
  text-align: center;
  /* background-color: #efefef; */
}

p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#copyright {
  font-size: 9px;
}

/* CSS for on/off button */

.onoffswitch {
    position: relative; width: 117px; margin: 100px auto;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #8F8F8F; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 35px;
    font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 8px;
    background-color: #2BC952; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #E03A3A; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 78px;
    border: 2px solid #8F8F8F; border-radius: 14px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
